
<div >
 
    <div class="container-fluid " style="background-color: rgb(247, 244, 244);">

       
          <div class="jumbotron jumbotron-fluid w-100 my-2 bg-warning">
            <div class="container">
              <h1 class="display-4">" Keep calm and bat on.</h1>
              <!-- <p class="lead">Champions are made not born. <br> Do You Want To Know  </p> -->
              <blockquote class="blockquote text-right">
                <p class="mb-1">Champions are made not born. </p>
                <p class="mb-0 text-capitalize"> Do You Want to Know why they are winners? just cplayer it.</p>
                
              
            
              </blockquote>
            </div>
          </div>
          <div>
            <img src="https://images6.alphacoders.com/105/thumb-1920-1050906.jpg" width="1500" height="900">
          </div>
         
<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h6>About</h6>
                <p class="text-justify">Cricket is a bat-and-ball game played between two teams of eleven players each on a field at the centre of which is a 22-yard (20-metre) pitch with a wicket at each end, each comprising two bails balanced on three stumps. The game proceeds
                    when a player on the fielding team, called the bowler, "bowls" (propels) the ball from one end of the pitch towards the wicket at the other end, with an "over" being completed once they have legally done so six times. </p>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>Categories</h6>
                <ul class="footer-links">
                    <li>Search Players</li>
                    <li>Wishlist</li>
                    <li>Terms&Conditions</li>
                    <li>Contact Us</li>
                    <li></li>
                    <li></li>
                </ul>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>Quick Links</h6>
                <ul class="footer-links">
                    <li>About Us</li>
                    <li>Contact Us</li>
                    <li>Contribute</li>
                    <li>Privacy Policy</li>
                    <li>Sitemap</li>
                </ul>
            </div>
        </div>
        <hr>
    </div>
   
</footer>